@use "global-variables" as *

.novels
  display: flex
  flex-flow: column
  row-gap: .5em
  padding: 1em

.novels > *
  width: 500px
  margin: 0 auto

.chapter
  background-color: $secondary-color
  border-radius: 8px
  padding: .5em
  padding-left: 1.5em
  display: flex


.chapter > *
  flex: 1
  &:first-child
    flex: 4
    
